.common-height {
    min-height: 400px;
    height: auto;
    background-color: #343A40;
}

.col-common{
    background-color: white;
    border-radius: 10px;
    margin: 15px 15px 15px;
    min-height: 300px;
    height: auto;
}

.col-first {
    margin: 15px 15px 15px;
    border-radius: 10px;
    width: 200px
}

.orgnizationForm {
    padding-left: 10px;
}

.showOrgnizationInfo {
    padding-left: 10px;
    padding-bottom: 10px;
}

.contact-card {
    width: 90%;
    margin-bottom: 5px;
}

.contact-details {
    margin-left : 13px;
}

.contact-btn {
    margin-right:50px;
}

.custom-msg {
position: fixed;
top: 25%;
left: 50%;
margin-top: -100px; /* Negative half of height. */
margin-left: -250px; /* Negative half of width. */
}

.inputfile {
width: 0.1px;
height: 0.1px;
opacity: 0;
overflow: hidden;
position: absolute;
z-index: -1;
}